Source: connie
Section: sound
Priority: optional
Maintainer: James Mittler <jamesmittlerii@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.20),
               ninja-build,
               pkg-config
Standards-Version: 4.6.2
Homepage: https://github.com/jamesmittlerii/connie
Rules-Requires-Root: no
Vcs-Browser: https://github.com/jamesmittlerii/connie
Vcs-Git: https://github.com/jamesmittlerii/connie.git

Package: lv2-connie
Architecture: any
Provides: lv2-plugin
Depends: ${misc:Depends}
Description: Vox Continental organ LV2 instrument plugin
 Connie simulates the signal path of a classic analog polyphonic organ
 such as the Vox Continental. This package installs the LV2 plugin bundle
 for use in compatible hosts (Ardour, Carla, REAPER, etc.).
